* {
  box-sizing: border-box;
}
body {
  background: white;
  margin-left: 0;
  margin-right: 0;
}
.run-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 4em;
  z-index: 20;
  padding: 8px 12px;
  background-color: #43A047;
  color: white;
  opacity: 0.85;
  text-align: center;
  cursor: pointer;
}
.run-button:hover {
  opacity: 0.95;
  background-color: #4CAF50;
}
.editor-header {
  background-color: #212121;
  height: 2%;
}
#editor {
  position: absolute;
  top: 0;
  opacity: 0.9;
  z-index: 10;
  display: none;
}
#script {
  height: 73%;
  padding-top: 5%;
}
.console {
  height: 25%;
  padding: 14px;
  margin: 0;
  background-color: #212121;
  color: #ffffff;
  font-family: "Consolas", monospace;
  overflow-y: scroll;
}
.console .error {
  color: #ef5350;
}
canvas {
  margin: 0 auto;
}
button {
  float: left;
}
