* {
  box-sizing: border-box;
}
body {
  background: white;
  margin: 0;
}
.editor-buttons {
  position: absolute;
  top: 0.5em;
  right: 0;
  height: 10em;
  z-index: 30;
}
.editor-button {
  width: 4em;
  display: inline-block;
  float: right;
  margin-right: 0.4em;
  z-index: 20;
  padding: 8px 12px;
  color: white;
  opacity: 0.82;
  text-align: center;
  cursor: pointer;
}
.run-button {
  background-color: #43A047;
}
.run-button:hover {
  opacity: 0.95;
  background-color: #4CAF50;
}
.reset-button {
  background-color: #839496;
  display: none;
}
.reset-button:hover {
  opacity: 0.95;
  background-color: #93a1a1;
}
.editor-header {
  background-color: #212121;
  height: 2%;
}
#editor {
  position: absolute;
  top: 0;
  opacity: 0.9;
  z-index: 10;
  display: none;
}
#script {
  height: 70%;
  padding-top: 5%;
}
#variables {
  height: 5%;
  background-color: #272822;
}
#variables > .variable {
  padding: 1% 10px;
  margin-top: 1%;
  margin-left: 5px;
  background-color: #586e75;
  color: #ffffff;
  display: inline-block;
  font-family: "Consolas", monospace;
}
.console {
  height: 25%;
  padding: 14px;
  margin: 0;
  background-color: #212121;
  color: #ffffff;
  font-family: "Consolas", monospace;
  overflow-y: scroll;
}
.console .error {
  color: #ef5350;
}
canvas {
  margin: 0 auto;
}
button {
  float: left;
}
